@font-face {
  font-family: "D7ML";
  src: url("DSEG7Modern-Light.woff") format('woff');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'D7ML', monospace;
  background-color: black;
  color: lime;
}

#countdownWrapper {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   display: table;
}

#countdown {
  margin: 0; 
  padding: 0; 
  text-align: center;
  width: 100%;
  vertical-align: middle;
  display: table-cell;
  font-size: 8em;
  font-weight: normal;
}
